:root {
  --color: #0aefff;
  --color2: #f725ed;
  --border: 5px;
}

.calculator__container {
  aspect-ratio: 9 / 16;
  width: 380px;
  background-color: transparent;
  border-radius: 1rem;
}

.screen {
  height: 30%;
  border: var(--border) solid #ffe6ff;
  box-shadow: 0 0 .6rem var(--color2), inset 0 0 .6rem var(--color2);
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.result {
  height: 70%;
  width: 85%;
  border: var(--border) solid #ffe6ff;
  box-shadow: 0 0 .6rem var(--color2), inset 0 0 .6rem var(--color2);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .5rem;
  font-size: 2rem;
  color: #d8f3dc;
  text-shadow: 0 0 .5rem #ccff33;
}

.result::selection {
  background: rgba(0, 0, 0, .3);
  text-shadow: none;
}

.buttons__container {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  grid-gap: 1rem;
  border-bottom: var(--border) solid #d2ffff;
  border-left: var(--border) solid #d2ffff;
  border-right: var(--border) solid #d2ffff;
  box-shadow: 0 0 .6rem var(--color), inset 0 0 .6rem var(--color);
  border-radius: 0 0 1rem 1rem;
}